body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#main{
    position:relative;
    overflow:hidden;
    margin:0 auto;
}
#main #enl_nav{
    background-color:#0868D6; /*044167 20b2aa*/
    position:fixed;
    left:-240px;
    top:0;
    z-index:110;
    overflow:hidden;
    width:240px;
    height:100%;

}
#main #enl_nav form div:first-child{
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #2CA5FF), color-stop(1, #2487D1));

    outline:1px solid #1BA6E0;
    line-height:45px;
    display:table;
    width:100%;
    overflow:hidden;
}
#main #enl_nav form div:first-child span{
    font-family:ICONS;
    color:#ffffff;
    font-size:1.8rem;
    padding:0 5px 0 10px;
    display:table-cell;
    width:1%;
    vertical-align:middle;
}
#main #enl_nav form div:first-child p{
    display:table-cell;
    padding-right:10px;
    vertical-align:middle;
    font-family:ICONS;
    display:inline-block;
    margin-left:7px;
    font-weight:bold;
    font-size:1.2rem;
    text-align:center;
    color:#fff;
}
#main #enl_nav form div:first-child p input{
    border:3px solid #0B275C;
    border-radius:10px;
    padding:2px;
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1);
    font-size:1rem;
    display:block;
    height:25px;
    width:98%;
    margin:0 auto;
    color:#000;
    line-height:20px;
}
/* 導航 按鈕*/
#main #enl_nav form .nav{
    color:#fff;
    border-bottom:1px solid #0D66CC;
    display:block;
    padding:0 5px;
    box-shadow:0px 1px 0px rgba(23,130,247,1);
    font-size:1.1rem;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    line-height:45px;
    height:45px;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}
#main #enl_nav form .nav span{
    font-family:ICONS;
    display:inline-block;
    width:40px;
    margin-right:7px;
    font-weight:normal;
    font-size:1.5rem;
    text-align:center;
}

#main #enl_nav form .cm{
    display:inline-block;
    width:200px;
    height:200px;
    line-height:200px;
    border:1px solid #cecece;
    margin-top:10px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    font-size:16px;
    margin:20px 0px 0px 20px;
}
/* title列*/
#main #enl_title{
    background-color:#2894FF;
    position:fixed;
    top:0px;
    left:0px;
    z-index:200;
    height:45px;
    border-bottom:1px solid #2CA5FF;
    width:100%;
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #2CA5FF), color-stop(1, #1CE4E8));
}
#main #enl_title h1{
    text-shadow:0px -1px 0px green;
    font-size:1.3rem;
    font-weight:bold;
    line-height:45px;
    white-space:nowrap;
    color:#fff;
    font-weight:bold;
    font-style: italic;
}
#main #enl_title h1 a:first-child{
    display:inline-block;
    vertical-align:top;
    background:url(../images/result.png) no-repeat 12px -411px;
    width:45px;
    height:45px;
    border-right:1px solid #76DFF0;
    margin-right:10px;
    box-shadow:1px 0px 0px #998D83;
    color:#FFF;
    text-decoration:none;
    cursor:pointer;
}
/*內容*/
#main #enl_content{
    width:100%;
    position:relative;
    left:0px;
    top:0px;
    background-color:#fffff0;
    color:#333;
    margin-top:47px;
    overflow:hidden;
    font-size:1rem;
    line-height:1.5;
    padding:10px;
    box-sizing:border-box;
}

#main #enl_content p{
    font-size:18px;
}


.size-full{
    max-width:100%;
    height:auto;
}

#enl_real_content img{
    max-width:100%;
    height:auto;
}

#main #enl_content .nav{
    display:block;
    color:#464646;
    text-decoration:none;
    cursor:pointer;
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #e6f4f3), color-stop(0.3, #FFFFFF));
    font-weight:bold;
    clear:both;
    overflow:hidden;
}
#main #enl_content .nav img{
    border:3px solid #fff;
    box-shadow:0px 0px 3px #999999;
    width:80px;
    height:80px;
    max-height:80px;
    max-width:80px;
    display:inline-block;
    float:left;
}
#main #enl_content .nav .text{
    font-size:1.2rem;
    margin-top:3px;
    display:inline-block;
}

#main #enl_content .link{
    display:block;
    padding:10px 5px;
    border-bottom:1px solid #dddddd;
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #e6f4f3), color-stop(0.3, #FFFFFF));
    overflow:auto;
    color:#464646;
    text-decoration:none;
    cursor:pointer;
}
#main #enl_content .link img{
    border:3px solid #fff;
    box-shadow:0px 0px 3px #999999;
    width:80px;
    height:80px;
    max-height:80px;
    max-width:80px;
    float:left;
    display:inline-block;
}
#main #enl_content .link p{
    margin-left:95px;
    font-weight:bold;
    display:block;

}
#main #enl_content .link p .tab{
    font-size:10px;
    display:inline-block;
    background-color:#a6ddd9;
    min-width:50px;
    text-align:center;
    border-radius:3px;
    vertical-align:top;
    font-weight:normal;
    margin:0;
    padding-left:4px;
    padding-right:4px;
}
#main #enl_content .link p .date{
    float:right;
    color:gray;
    font-size:8px;
    text-align:center;
    border-radius:3px;
    vertical-align:top;
    margin-left:5px;
}
#main #enl_content .link p .title{
    font-size:1rem;
    margin-top:2px;
    display:inline-block;
}
#main #enl_content .link p .alt{
    display:inline-block;
    margin-top:3px;
    font-size:0.5rem;
    color:#886600;
}
#main #enl_content iframe{
    max-width:100%;
}
#main .more{
    display:block;
    padding:20px 10px;
    text-align:center;
    color:#3e81c6;
    font-weight:bold;
    text-decoration:none;
    font-size:1.2rem;
}
#main .no_more{
    display:block;
    padding:20px 10px;
    text-align:center;
    color:#000;
    font-weight:bold;
    text-decoration:none;
    font-size:1.2rem;
}
#main .footer{
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-size:0.6rem;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3);
    background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #31CBE8), color-stop(1, #5BADF0));
    line-height:250%;
}
/* is_single*/
#main #enl_content h2{
    font-size:18px;
    margin:0 0 5px 0;
    padding:0;
    font-weight:bold;
    color:#333;
    line-height:1.5;
    padding-left:10px;
    padding-right:10px;
}
#main #enl_content p{
    margin:0 0 10px;
    padding:0;
    line-height:1.5;
    color:#333;
    padding-left:10px;
    padding-right:10px;
}
#main #enl_content p img{
    margin:0 auto;
}

.float_to_bottom{
    position:fixed;
    bottom:0;
    left:0;
    z-index:9999;
}
#enl_content,#enl_title,#enl_nav{
    transition:left 150ms cubic-bezier(0.550,0.085,0.680,0.530);
    -webkit-position:left 150ms cubic-bezier(0.550,0.085,0.680,0.530);
}

.line_button_wrapper{
    display:inline-block;
}
#ad_block_1{
    height:50px;
    line-height:50px;
    text-align:center;
    position:fixed;
    bottom:0px;
    font-size:2rem;
    width:100%;
    z-index:1000;
}
#ad_block_2{
    width:300px;
    color:#000;
    text-align:center;
    margin:0 auto;
}
#ad_block_3{
    width:300px;
    color:#000;
    text-align:center;
    margin:0 auto 15px auto;
}
#ad_block_4{
    width:300px;
    color:#000;
    text-align:center;
    margin:15px auto 0 auto;
}
#ad_block_5{
    width:300px;
    height:250px;
}

.qlink_wrapper{
    position:relative;
}
.qlink_wrapper img{
    width:300px;
    height:250px;
}
.qlink_wrapper h2{
    position:absolute;
    z-index:100;
    bottom:0;
    width:280px;
    height:45px;
    color:#fff;
    padding:5px 10px;
    line-height:23px;
    font-size:15px;
    letter-spacing:1px;
    font-weight:bold;
    background:rgba(0,0,0,0.75);
    margin:0;
}
.qlink_wrapper:hover{

}
.qlink_wrapper:hover h2{
    text-decoration:underline;
}
/* 浮動廣告視窗*/
.ad_float_wrapper{
    display:block;
    width:300px;
    margin:10px auto;
}
.ad_float{
    width:300px;
    margin:0 auto;
    position:fixed;
    background-color:#fff;
    z-index:9999;
    display:none;
}

.ad_window_1{
    z-index:900;
    width:300px;
    margin:0 auto;
    position:fixed;
    display:none;
}

.banner_close{
    position:absolute;
    top:5px;
    right:5px;
    width:40px;
    height:40px;
    background:url(../images/close.png) center no-repeat;
    cursor:pointer;
    z-index:10000;

}
.skip_ad{
    border:none;
    display:block;
    width:300px;
    height:52px;
    line-height:52px;
    text-shadow:1px 2px 2px #5F5F5F;
    text-align:center;
    font-size:30px;
    color:#fff;
    -webkit-background-size:300px 52px;
    background:#33C2E6;
    margin:0;
    padding:0;
    cursor:pointer;
}

.button_seemore{
    background-color:#e74c3c;

}

.button_seemore {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;


    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.gray_btns{ display:table; width:100%; line-height:50px; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.8, #FFFFFF)); border:1px solid #9a9a9a; box-shadow:2px 0px 3px rgba(0,0,0,0.3);}
.gray_btns .page_around{ font-size:1rem;color:#464646;text-decoration:none;display:table-cell; border-left:1px solid #999999; text-shadow:1px 1px 1px #FFFFFF; text-align:center; vertical-align:top; box-shadow:inset 0px 0px 0px 1px #FFFFFF; width:10%; font-weight:bold;}
.gray_btns .page_around:first-child{ border:none;}
.gray_btns .end{ color:#AAAAAA;}

/*底部按鈕*/
.page_around{ color:#464646;text-decoration:none;font-family:ICONS; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9dcad2), color-stop(0.8, #e9f3f5)); font-size:1.5rem; text-shadow:1px 1px 1px #999999 !important;}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 圖片整合 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.IMG01{ background:url(../images/result.png) no-repeat; width:11px; height:6px; background-position: 0px 0px;}/*箭頭*/
.IMG02{ background:url(../images/result.png) no-repeat; width:30px; height:30px; background-position: 0px -21px;}/*BP*/
.IMG03{ background:url(../images/result.png) no-repeat; width:30px; height:30px; background-position: 0px -59px;}/*刪除*/
.IMG04{ background:url(../images/result.png) no-repeat; width:30px; height:30px; background-position: 0px -99px;}/*GP*/
.IMG05{ background:url(../images/result.png) no-repeat; width:47px; height:48px; background-position: 0px -137px;}/*加入*/
.IMG06{ background:url(../images/result.png) no-repeat; width:30px; height:27px; background-position: 0px -194px;}/*列表1*/
.IMG07{ background:url(../images/result.png) no-repeat; width:30px; height:27px; background-position: 0px -231px;}/*列表2*/
.IMG08{ background:url(../images/result.png) no-repeat; width:42px !important; height:48px; background-position: 0px -268px;}/*電源*/
.IMG09{ background:url(../images/result.png) no-repeat; width:239px; height:81px; background-position: 0px -325px;}/*LOGO*/
.IMG10{ background:url(../images/result.png) no-repeat; width:19px; height:12px; background-position: 0px -416px;}/*MENU*/
.text-center {
    text-align: center;
}

.article-page {
    margin-bottom: 30px;
    margin-top: 30px;
}

#fb_like {
    display: inline-block;
}

#seemore {
    background-color: gray;
}


.dark {
    background-color: #390021 !important;
    color: #ffe8bb !important;
}

.login {
    background-color: #d9534f !important;
    color: white !important;
    padding-left: 50px !important;
}

.login a {
    color: white !important;
}

.fb {
    background-color: #2d4373 !important;
    color: white !important;
}

.dropbtn {
    font: initial;
    background-color: transparent;
    color: white;
    padding: 9px;
    font-size: 30px;
    border: 1px;
    cursor: pointer;
    padding-bottom: 0px;
    border-left: 1px solid #eff2ef;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin-top: -51px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


#update_message{
    left: 10%;
    width: 80%;
    top: 35% !important;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    background-color: rgba(18, 18, 18, 0.77) !important;
    border:none;
    text-align: center;
}
.collect > tbody > tr >td{
    white-space: normal !important;
}
.bg-enl {
    background-color: #0D6693 !important;
    color: white;
    border-color: #939393 !important;
}
.img-collect {
    width: 100px;
    height: 80px;
}
div.sign-up button {
    background: url(../images/flogin.png) no-repeat;
    cursor: pointer;
    width: 47px;
    height: 47px;
    border: none;
    float: right;
    position: relative;
    display: inline-block;
    margin-top: -46px;

}
.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
    float:right;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.hidden{
    display:none !important;
}
.member_collect,.collect{
    vertical-align: super !important;
    margin-left:3px;
}
.mar-t-2{
    display: none;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, .2);
}
.table {
    width:95%;
    overflow: hidden;
}